:root {
    --white: 1;
    --highlight-color: #ff004f;
    --background-color: #fff;
    --primary-color: #aea9a4;
    --secondary-color: #433c36;
    --text-color-1: #080808;
    --text-color-2: #191919;
    /* #ff004f #262626 #414141 #080808 #fff #ababab*/
}

*{
    margin: 0;
    padding: 0;
    /*font-family: 'Poppins', sans-serif;*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    background: var(--background-color);
    color: var(--background-color);
}

#header{
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin-bottom: -20%;
    background-size: cover;
    background-position: center;
}

.container{
    padding: 0px 10%;
}

nav{
    position: fixed;
    top: 0;  /* Stick it to the top of the viewport */
    left: 50%;
    transform: translateX(-50%);  /* Center it horizontally */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 0;
    font-weight: 300;
    box-sizing: border-box; /* Make sure padding is included in width calculation */
    width: 100vw;  /* Make sure it stretches across the full width */
    z-index: 2000; /* Ensure it stays on top of other content */
    transition: background 0.75s, opacity 0.75s;
}

nav.scrolled {
    background: var(--secondary-color);
    opacity: 0.9;
}

.back-video{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 1; /* Initially fully visible */
    transition: opacity 0.3s ease; /* Smooth transition for opacity change */
}

video {
    width: 100%; /* Adjust to fill the container */
    height: 100%; /* Adjust to fill the container */
    object-fit: cover; /* Make sure the video covers the background */
}

.logo{
    width: 70px;
    margin-left: 30px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px -50px;
    margin-right: 100px;
}

nav ul li a{
    color: var(--background-color);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--highlight-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.75s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 25%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: var(--highlight-color);
}

/* portfolio (images) */
#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 items per row */
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.01), #000000);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s ease-in-out;
}

.layer h3 {
    font-weight: 0;
    color: var(--background-color);
    margin-bottom: 0;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
    pointer-events: none;
}

/* portfolio (videos) */
#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 items per row */
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.01), #000000);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s ease-in-out;
}

.layer h3 {
    font-weight: 0;
    color: var(--background-color);
    margin-bottom: 0;
}

.work:hover video {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
    pointer-events: none;
}

/* Modal (Image Viewer) */
.imageModal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 3000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: auto;
    padding-top: 60px;
}

.image-modal-content {
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    max-height: 80%;
}

.videoModal {
    display: none;
    position: fixed;
    z-index: 3000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
}

.video-modal-content {
    display: inline-block;
    max-width: 90vw;
    max-height: 90vh;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#modalImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transform: scale(90%);
    margin-top: 110px;
}

button {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 6px;
    padding: 15px;
    font-size: 35px;
    cursor: pointer;
    z-index: 900;
    transition: 0.5s;
}

button.prev {
    left: 5.5%;
}

button.next {
    right: 5.5%;
}

button:hover {
    background-color: var(--highlight-color);
}

span.close {
    position: absolute;
    top: 10px;
    right: 200px;
    font-size: 80px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    z-index: 901;
    transition: 0.5s;
}

span.close:hover, span.close:focus {
    color: var(--highlight-color);
}

/* ------------services--------- */

#services{
    padding: 50px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.service-item {
    position: relative;
    background: var(--primary-color);
    padding: 80px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.service-elements{
    position: relative;
    background: none;
    transition: 0.5s;
}

.service-item i {
    font-size: 50px;
    margin-bottom: 30px;
}

.service-item h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.service-item a {
    text-decoration: none;
    color: var(--text-color-1);
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease;
}

/* Show the video when hovering */
.service-item:hover .background-video {
    opacity: 1;
}

.service-item:hover {
    transform: translateY(-10px);
}

.service-item:hover .service-elements{
    color: var(--highlight-color);
    transform: translateX(-60px) translateY(75px);
}

/* ------------about--------- */

#about{
    padding: 50px 0;
    color: var(--text-color-2);
}

.row{  
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    margin-top: 75px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 50px;
    font-weight: 600;
    margin-top: 75px;
    color: var(--text-color-1);
}

.about-col-2 p{
    margin-top: 20px;
}

.about-col-2 p span{
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color-1);
}

.about-col-2 p span1{
    color: var(--highlight-color);
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--highlight-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.75s;
}

.tab-links.active-link::after{
    width: 60%;
}

.tab-contents ul li{
    list-style: '';
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #d33049;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* ------------programs--------- */

#programs{
    padding: 50px 0;
    margin-top: -125px;
    margin-bottom: 200px;
}

.program-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 items per row */
    grid-gap: 0px;
    margin-top: 10px;
    margin-left: 10%;
}

.programs {
    margin-top: 25px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.programs img {
    width: 45%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    filter: invert(var(--white));
}

/* ------------contact--------- */

.contact{
    margin-left: 25%;
    transform: translateY(-150px);
}

.contact p{
    margin-top: 30px;
    color: var(--text-color-1);
}

.contact p i{
    color: var(--highlight-color);
    margin-right: 10px;
    font-size: 25px;
}

.contact form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background-color: var(--primary-color);
    padding: 15px;
    margin: 15px 0;
    font-size: 18px;
    border-radius: 6px;
    resize: none;
}

input::placeholder, textarea::placeholder{
    color: var(--text-color-1);
    opacity: 1;
    font-style: italic;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    background: var(--highlight-color);
    border: 3px solid var(--highlight-color);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--text-color-1);
    transition: background 0.5s;
}

.btn:hover{
    background: var(--background-color);
}

form .btn{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 300px;
    cursor: pointer;
}
#msg{
    color: #61b752;
    margin-top: -40px;
    transform: translateY(140px);
    display: block;
}

.social-icons{
    width: 100vw; /* Make the background stretch across the entire viewport */
    text-align: center;
    padding: 50px 0;
    background: var(--secondary-color);
    font-weight: 300;
    margin-top: 20px;
    margin-left: calc(-50vw + 50%); /* Offset left side by half of viewport width */
    margin-right: calc(-50vw + 50%); /* Offset right side by half of viewport width */
    box-sizing: border-box; /* Make sure padding is included in width calculation */
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: var(--background-color);
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: var(--highlight-color);
    transform: translateY(-5px);
}

/* ------------css for small screens--------- */

nav .fa-solid{
    display: none;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

@media only screen and (max-width: 600px){
    .container{
        padding: 0px 10%;
    }

    nav{
        position: fixed;
        top: 0;  /* Stick it to the top of the viewport */
        left: 50%;
        transform: translateX(-50%);  /* Center it horizontally */
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 15px 0;
        font-weight: 300;
        box-sizing: border-box; /* Make sure padding is included in width calculation */
        width: 100vw;  /* Make sure it stretches across the full width */
        z-index: 2000; /* Ensure it stays on top of other content */
        transition: background 0.75s, opacity 0.75s;
    }
    
    nav.scrolled {
        background: var(--secondary-color);
        opacity: 0.9;
    }

    .logo{
        width: 50px;
        margin-top: 0px;
        margin-left: 15px;
    }

    .header-text{
        margin-top: 25%;
        font-size: 16px;
    }

    .header-text h1{
        margin-top: 5%;
        font-size: 30px;
    }

    nav .fa-solid{
        display: block;
        right: 20px;
        top: 20px;
        position: fixed;
        font-size: 25px;
        z-index: 1;
    }

    nav ul{
        background: var(--highlight-color);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title{
        font-size: 40px;
    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }

    .about-col-1{
        margin-bottom: 30px;
    }

    .about-col-2{
        font-size: 14px;
    }

    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }

    .work-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Ensures max 4 items per row */
        grid-gap: 20px; /* Consistent spacing between items */
        margin-top: 30px;
    }

    .contact{
        margin-left: 0%;
    }

    .social-icons{
        width: 100vw;
        text-align: center;
        padding: 25px 0;
        background: var(--secondary-color);
        font-weight: 300;
        margin-top: 10px;
        margin-left: calc(-50vw + 50%); /* Offset left side by half of viewport width */
        margin-right: calc(-50vw + 50%); /* Offset right side by half of viewport width */
        box-sizing: border-box; /* Make sure padding is included in width calculation */
    }

    .social-icons a{
        font-size: 25px;
    }
    
    button {
        position: absolute;
        top: 100%;
        transform: translateY(0%);
        background-color: var(--highlight-color);
        color: white;
        border-radius: 6px;
        padding: 15px;
        font-size: 25px;
        cursor: pointer;
        z-index: 900;
        transition: 0.5s;
    }

    form .btn{
        margin-top: 60px;
    }
    
    button.prev {
        left: 5.5%;
    }
    
    button.next {
        right: 5.5%;
    }
    
    span.close {
        position: absolute;
        top: 95px;
        right: 30px;
        font-size: 90px;
        font-weight: bold;
        color: white;
        cursor: pointer;
        z-index: 901;
        transition: 0.5s;
    }

    #programs{
        padding: 50px 0;
    }
    
    .program-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 4 items per row */
        grid-gap: 0px;
        margin-top: 10px;
        margin-left: 40px;
    }
    
    .programs {
        margin-top: 25px;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
    }
    
    .programs img {
        width: 70%;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
        display: block;
    }
}